$brand-colour-1: #1a55c4;
$brand-colour-2: #fff;
$brand-colour-3: #173558;
$brand-colour-4: #d5e0f3;
$shadow-colour: #00000056;
$social-icons-colour: #1a55c4;
$linkedin-hover-colour: #0077B5;
$github-hover-colour: #211F1F;